{% extends "admin_layouts/layouts.html" %}
{% load pager %}
{% load permissions %}
{% block meta %}
    <title>رسانه ها</title>
{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert
                          {% if 'success' in message.tags %}alert-success
                          {% elif 'warning' in message.tags %}alert-warning
                          {% elif 'error' in message.tags %}alert-danger
                          {% else %}alert-info{% endif %}
                          alert-dismissible fade show"
                 role="alert">
                {{ message }}
                <button type="button" class="btn-close"
                        data-bs-dismiss="alert"
                        aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
    <div class="errorMedia">
        <div class="alert alert-success success d-none" role="alert">
            <span class="message"></span>
            <button
                type="button"
                class="btn-close"
                data-bs-dismiss="alert"
                aria-label="Close">
            </button>
        </div>

        <div class="alert alert-danger error d-none" role="alert">
            <span class="message"></span>
            <button
                type="button"
                class="btn-close"
                data-bs-dismiss="alert"
                aria-label="Close">
            </button>
        </div>
    </div>
    <div class="dashboard-pages mediaPage">
        <header class="headerPage d-flex justify-content-between align-items-center">
            <h3>رسانه ها</h3>
            <a href="{% url 'Admin_panel:media-create' %}" class="createLink">ساخت رسانه جدید</a>
        </header>
        <div class="filter-form mb-4">
            <form class="d-flex align-items-center gap-1 flex-wrap" method="GET"
                  action="{% url 'Admin_panel:media-query' %}">
                <div class="d-flex align-items-center gap-1">
                    {{ filter_form.status.label_tag }}
                    {{ filter_form.status }}
                </div>
                <button type="submit" class="btn btn-primary">فیلتر کردن</button>
                <a href="{% url 'Admin_panel:media' %}" class="btn btn-secondary">پاک کردن فیلتر</a>
            </form>
        </div>
        <div class="responsiverTable">
            <table class="table table-bordered table-striped m-0 mb-3">
                <thead>
                <th scope="col">عنوان</th>
                <th scope="col">نوع رسانه</th>
                <th scope="col">کیلید</th>
                <th scope="col">وضعیت</th>
                <th scope="col">تنظیمات</th>
                </thead>
                <tbody>
                {% for item in media %}
                    <tr>
                        <td>{{ item.title }}</td>
                        <td>{{ item.media_type }}</td>
                        <td>
                            <span class="mediaKey btn btn-primary">{{ item.media_key }}</span>
                        </td>
                        <td>
                            {% if item.status == 'active' %}
                                <a class="btn btn-primary"
                                   href="{% url 'Admin_panel:media-active' item.id %}?next={{ request.get_full_path }}">فعال</a>
                            {% elif item.status == 'inactive' %}
                                <a class="btn btn-dark"
                                   href="{% url 'Admin_panel:media-active' item.id %}?next={{ request.get_full_path }}">غیرفعال</a>
                            {% endif %}
                        </td>
                        <td class="d-flex gap-2 align-items-center flex-wrap">
                            <a href="{% url 'Admin_panel:media-show' item.id %}" class="btn btn-primary">نمایش
                                اطلاعات</a>
                            <a href="{% url 'Admin_panel:media-update' item.id %}" class="btn btn-warning">ویرایش
                                اطلاعات</a>
                            <form action="{% url 'Admin_panel:media-delete' item.id %}" class="Delete-Form"
                                  method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">
                                    حذف
                                </button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% include 'admin_layouts/pager.html' with page_obj=page_obj paginator=paginator %}
    </div>
{% endblock %}