{% extends "App_layouts/layouts.html" %}
{% block meta %}
    <title>ایجاد اطلاعات سایت</title>
{% endblock %}
{% block content %}
    <div class="dashboard-pages">
        <header class="headerPage">
            <h3>ایجاد اطلاعات سایت</h3>
        </header>
        <form action="{% url 'App_panel:setting-create' %}" method="post" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            <div class="form-group-display">
                {{ form.title.label_tag }}
                {{ form.title }}
                {% if form.title.errors %}
                    <small class="text-danger">
                        {{ form.title.errors.0 }}
                    </small>
                {% endif %}
                <small>{{ form.title.help_text }}</small>
            </div>
            <div class="form-group-display">
                {{ form.title_seo.label_tag }}
                {{ form.title_seo }}
                {% if form.title_seo.errors %}
                    <small class="text-danger">
                        {{ form.title_seo.errors.0 }}
                    </small>
                {% endif %}
                <small>{{ form.title_seo.help_text }}</small>
            </div>
            <div class="form-group-display">
                {{ form.description_seo.label_tag }}
                {{ form.description_seo }}
                {% if form.description_seo.errors %}
                    <small class="text-danger">
                        {{ form.description_seo.errors.0 }}
                    </small>
                {% endif %}
                <small>{{ form.description_seo.help_text }}</small>
            </div>
            <div class="form-group-display">
                {{ form.logo.label_tag }}
                {{ form.logo }}
                {% if form.logo.errors %}
                    <small class="text-danger">
                        {{ form.logo.errors.0 }}
                    </small>
                {% endif %}
                <small>{{ form.logo.help_text }}</small>
            </div>
            <div class="form-group-display">
                {{ form.favicon.label_tag }}
                {{ form.favicon }}
                {% if form.favicon.errors %}
                    <small class="text-danger">
                        {{ form.favicon.errors.0 }}
                    </small>
                {% endif %}
                <small>{{ form.favicon.help_text }}</small>
            </div>
            <div class="form-group-display">
                {{ form.status.label_tag }}
                {{ form.status }}
                {% if form.status.errors %}
                    <small class="text-danger">
                        {{ form.status.errors.0 }}
                    </small>
                {% endif %}
            </div>
            <div class="form-group-display">
                {{ form.domain.label_tag }}
                {{ form.domain }}
                {% if form.domain.errors %}
                    <small class="text-danger">
                        {{ form.domain.errors.0 }}
                    </small>
                {% endif %}
            </div>
            <div class="form-group-display">
                {{ form.name.label_tag }}
                {{ form.name }}
                {% if form.name.errors %}
                    <small class="text-danger">
                        {{ form.name.errors.0 }}
                    </small>
                {% endif %}
            </div>
            <button class="btn btn-success">ویرایش</button>
            <a href="{% url 'Admin_panel:profile' %}" class="btn btn-danger">انصراف</a>
        </form>
    </div>
{% endblock %}