{% extends "admin_layouts/layouts.html" %}

{% block content %}
    <div class="dashboard-pages">
        <header class="headerPage">
            <h3>تغییر رمز</h3>
        </header>
        <form action="{% url 'Admin_panel:reset-password' %}" method="post">
            {% csrf_token %}
            <div class="form-group-display">
                <label for="{{ form.old_password.id_for_label }}">
                    {{ form.old_password.label }}
                    {% if form.old_password.field.required %}
                        <span class="text-danger">*</span>
                    {% endif %}
                </label>
                {{ form.old_password }}
                {% if form.old_password.errors %}
                    <small class="text-danger">
                        {{ form.old_password.errors.0 }}
                    </small>
                {% endif %}
            </div>
            <div class="form-group-display">
                <label for="{{ form.password.id_for_label }}">
                    {{ form.password.label }}
                    {% if form.password.field.required %}
                        <span class="text-danger">*</span>
                    {% endif %}
                </label>
                {{ form.password }}
                {% if form.password.errors %}
                    <small class="text-danger">
                        {{ form.password.errors.0 }}
                    </small>
                {% endif %}
            </div>
            <div class="form-group-display">
                <label for="{{ form.confirm_password.id_for_label }}">
                    {{ form.confirm_password.label }}
                    {% if form.confirm_password.field.required %}
                        <span class="text-danger">*</span>
                    {% endif %}
                </label>
                {{ form.confirm_password }}
                {% if form.confirm_password.errors %}
                    <small class="text-danger">
                        {{ form.confirm_password.errors.0 }}
                    </small>
                {% endif %}
            </div>
            <button class="btn btn-success">ویرایش</button>
            <a href="{% url 'Admin_panel:profile' %}" class="btn btn-danger">انصراف</a>
        </form>
    </div>
{% endblock %}