{% load permissions i18n %}

<aside class="col-xl-2 col-lg-3 d-flex flex-column">
    <a href="{% url 'Admin_panel:dashboard' %}" class="{% if 'dashboard' in request.resolver_match.url_name %}active{% endif %}">
        <i class="fa-solid fa-house"></i>
        {% translate "Dashboard" %}
    </a>
    <a href="{% url 'Admin_panel:module' %}" class="{% if 'module' in request.resolver_match.url_name %}active{% endif %}">
        <i class="fa-solid fa-puzzle-piece"></i>
        {% translate "Modules" %}
    </a>
    {% if modules %}
        {% for module in modules %}
            {% if module.status == "active" %}
                {% if module.name == "form_builder" %}
                    <a href="{% url 'Admin_panel:form-builder' %}" class="{% if 'form-builder' in request.resolver_match.url_name %}active{% endif %}">
                        <i class="fa-solid fa-pen-to-square"></i>
                        {% translate "Form Builder" %}
                    </a>
                {% elif module.name == "Menu_Builder" %}
                    <a href="{% url 'Admin_panel:menu' %}" class="{% if 'menu' in request.resolver_match.url_name %}active{% endif %}">
                        <i class="fa-solid fa-bars"></i>
                        {% translate "Menu Builder" %}
                    </a>
                {% elif module.name == "social_media" %}
                    <a href="{% url 'Admin_panel:social-media' %}" class="{% if 'social-media' in request.resolver_match.url_name %}active{% endif %}">
                        <i class="fa-solid fa-hashtag"></i>
                        {% translate "Social Media" %}
                    </a>
                {% elif module.name == "adv_text" %}
                    <a href="{% url 'Admin_panel:adv-text' %}" class="{% if 'adv-text' in request.resolver_match.url_name %}active{% endif %}">
                        <i class="fa-solid fa-bullhorn"></i>
                        {% translate "Text Advertisement" %}
                    </a>
                {% elif module.name == "adv_image" %}
                    <a href="{% url 'Admin_panel:adv-image' %}" class="{% if 'adv-image' in request.resolver_match.url_name %}active{% endif %}">
                        <i class="fa-solid fa-rectangle-ad"></i>
                        {% translate "Banner Advertisement" %}
                    </a>
                {% elif module.name == "redirect_rule" %}
                    <a href="{% url 'Admin_panel:redirect' %}" class="{% if 'redirect' in request.resolver_match.url_name %}active{% endif %}">
                        <i class="fa-solid fa-right-left"></i>
                        {% translate "Address Redirect" %}
                    </a>
                {% elif module.name == "watermark" %}
                    <a href="{% url 'Admin_panel:watermark' %}" class="{% if 'watermark' in request.resolver_match.url_name %}active{% endif %}">
                        <i class="fa-solid fa-right-left"></i>
                        {% translate "Watermark" %}
                    </a>
                {% elif module.name == "Real_Estate" %}
                    <a href="{% url 'Admin_panel:real-estate' %}" class="{% if 'real-estate' in request.resolver_match.url_name %}active{% endif %}">
                        <i class="fa-solid fa-house"></i>
                        {% translate "Real Estate" %}
                    </a>
                {% elif module.name == "media" %}
                    <a href="{% url 'Admin_panel:media' %}" class="{% if 'media' in request.resolver_match.url_name %}active{% endif %}">
                        <i class="fa-solid fa-photo-film"></i>
                        {% translate "Media" %}
                    </a>
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endif %}
</aside>