{% extends "admin_layouts/layouts.html" %}

{% block meta %}
    <title>ساخت شبکه اجتماعی جدید</title>
    {{ form.media }}
{% endblock %}

{% block content %}
    <div class="dashboard-pages">
            <header class="headerPage">
                <h3>ساخت شبکه اجتماعی جدید</h3>
            </header>
            <form action="{% url 'Admin_panel:social-media-create' %}" method="post" enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                <div class="form-group-display">
                    <label for="{{ form.title.id_for_label }}">
                        {{ form.title.label }}
                        {% if form.title.field.required %}
                            <span class="text-danger">*</span>
                        {% endif %}
                    </label>
                    {{ form.title }}
                    {% if form.title.errors %}
                        <small class="text-danger">
                            {{ form.title.errors.0 }}
                        </small>
                    {% endif %}
                </div>
                <div class="form-group-display">
                    <label for="{{ form.name.id_for_label }}">
                        {{ form.name.label }}
                        {% if form.name.field.required %}
                            <span class="text-danger">*</span>
                        {% endif %}
                    </label>
                    {{ form.name }}
                    {% if form.name.errors %}
                        <small class="text-danger">
                            {{ form.name.errors.0 }}
                        </small>
                    {% endif %}
                </div>
                <div class="form-group-display">
                    <label for="{{ form.url.id_for_label }}">
                        {{ form.url.label }}
                        {% if form.url.field.required %}
                            <span class="text-danger">*</span>
                        {% endif %}
                    </label>
                    {{ form.url }}
                    {% if form.url.errors %}
                        <small class="text-danger">
                            {{ form.url.errors.0 }}
                        </small>
                    {% endif %}
                </div>
                <div class="form-group-display">
                    <label for="{{ form.icon.id_for_label }}">
                        {{ form.icon.label }}
                        {% if form.icon.field.required %}
                            <span class="text-danger">*</span>
                        {% endif %}
                    </label>
                    {{ form.icon }}
                    {% if form.icon.errors %}
                        <small class="text-danger">
                            {{ form.icon.errors.0 }}
                        </small>
                    {% endif %}
                </div>
                <div class="form-group-display">
                    <label for="{{ form.rel.id_for_label }}">
                        {{ form.rel.label }}
                        {% if form.rel.field.required %}
                            <span class="text-danger">*</span>
                        {% endif %}
                    </label>
                    {{ form.rel }}
                    <small>{{ form.rel.help_text }}</small>
                    {% if form.rel.errors %}
                        <small class="text-danger">
                            {{ form.rel.errors.0 }}
                        </small>
                    {% endif %}
                </div>
                <div class="form-group-display">
                    <label for="{{ form.target_blank.id_for_label }}">
                        {{ form.target_blank.label }}
                        {% if form.target_blank.field.required %}
                            <span class="text-danger">*</span>
                        {% endif %}
                    </label>
                    {{ form.target_blank }}
                    {% if form.target_blank.errors %}
                        <small class="text-danger">
                            {{ form.target_blank.errors.0 }}
                        </small>
                    {% endif %}
                </div>
                <div class="form-group-display">
                    <label for="{{ form.status.id_for_label }}">
                        {{ form.status.label }}
                        {% if form.status.field.required %}
                            <span class="text-danger">*</span>
                        {% endif %}
                    </label>
                    {{ form.status }}
                    {% if form.status.errors %}
                        <small class="text-danger">
                            {{ form.status.errors.0 }}
                        </small>
                    {% endif %}
                </div>
                <button class="btn btn-success">ثبت</button>
                <a href="{% url 'Admin_panel:social-media' %}" class="btn btn-danger">انصراف</a>
            </form>
        </div>
{% endblock %}