{% extends "App_layouts/layouts.html" %}

{% block meta %}
    <title>ویرایش بخش</title>
    {{ form.media }}
{% endblock %}

{% block content %}
    <div class="dashboard-pages">
        <div id="editor-config" data-model="sec" data-url="{% url 'ck_editor_5_upload_file' %}"
             data-id="{{ form.instance.pk|default:'new' }}" style="display: none;"></div>
        <header class="headerPage">
            <h3>ویرایش بخش</h3>
        </header>
        <form action="{% url 'App_panel:table-section-update' section.id %}" method="post" enctype="multipart/form-data"
              novalidate>
            {% csrf_token %}
            <div class="form-group-display">
                {{ form.name.label_tag }}
                {{ form.name }}
                {% if form.name.errors %}
                    <small class="text-danger">
                        {{ form.name.errors.0 }}
                    </small>
                {% endif %}
            </div>
            <div class="form-group-display">
                {{ form.title.label_tag }}
                {{ form.title }}
                {% if form.title.errors %}
                    <small class="text-danger">
                        {{ form.title.errors.0 }}
                    </small>
                {% endif %}
            </div>
            <div class="form-group-display">
                {{ form.title_seo.label_tag }}
                {{ form.title_seo }}
                {% if form.title_seo.errors %}
                    <small class="text-danger">
                        {{ form.title_seo.errors.0 }}
                    </small>
                {% endif %}
            </div>
            <div class="form-group-display">
                {{ form.description.label_tag }}
                {{ form.description }}
                {% if form.description.errors %}
                    <small class="text-danger">
                        {{ form.description.errors.0 }}
                    </small>
                {% endif %}
            </div>
            <div class="form-group-display">
                {{ form.description_seo.label_tag }}
                {{ form.description_seo }}
                {% if form.description_seo.errors %}
                    <small class="text-danger">
                        {{ form.description_seo.errors.0 }}
                    </small>
                {% endif %}
            </div>
            <div class="form-group-display">
                {{ form.image.label_tag }}
                {% if section.image %}
                    <img src="{{ section.image.url }}" alt="عکس فعلی بخش"
                         style="max-width:200px; height:auto; margin-bottom:10px;">
                {% endif %}
                <input type="file" name="image" id="id_image" class="form-control" accept="image/*">
                {% if form.image.errors %}
                    <small class="text-danger">{{ form.image.errors.0 }}</small>
                {% endif %}
            </div>
            <div class="form-group-display">
                {{ form.display_number.label_tag }}
                {{ form.display_number }}
                {% if form.display_number.errors %}
                    <small class="text-danger">
                        {{ form.display_number.errors.0 }}
                    </small>
                {% endif %}
            </div>
            <div class="form-group-display">
                {{ form.type.label_tag }}
                {{ form.type }}
                {% if form.type.errors %}
                    <small class="text-danger">
                        {{ form.type.errors.0 }}
                    </small>
                {% endif %}
            </div>
            <div class="form-group-display">
                {{ form.status.label_tag }}
                {{ form.status }}
                {% if form.status.errors %}
                    <small class="text-danger">
                        {{ form.status.errors.0 }}
                    </small>
                {% endif %}
            </div>
            <div class="form-group-display">
                {{ form.slug.label_tag }}
                {{ form.slug }}
                {% if form.slug.errors %}
                    <small class="text-danger">
                        {{ form.slug.errors.0 }}
                    </small>
                {% endif %}
                <small>{{ form.slug.help_text }}</small>
            </div>
            <button class="btn btn-success">ویرایش</button>
            <a href="{% url 'App_panel:table-section' %}" class="btn btn-danger">انصراف</a>
        </form>
    </div>
{% endblock %}